body{
    background-color: dimgray;
}
.year {
    height: 380px;
    width: 700px;
    margin: 0 auto; 
    background-image: url('4.jpg');
    
}




h1 {
    margin: 0;
}



.may {
    margin: 0px 0px 30px 0px;
    font-size: 25px;
    text-align: center;

}



.names {
font-size: 10px;
}



.week {
    height: 50px;
}



.day {
    display: inline-block;
    width: 90px; 
    text-align: center;
    font-size: 30px;
    color: black;    
}



.weekend {
    color: red;    
}




.no {
    color: lime;
}



.current {
    color:darkgoldenrod;
    background-color: cornsilk;
}

